<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Voter From</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/voterForm.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/voteSubmit.js"></script>

</head>

<body>
  <h1>Voting</h1>
  <form id="voterForm" method="POST" action="/polls/:id">
    <p>
      <input type="text" required placeholder="Full name" name="voter-name">
      <input type="hidden" value="<%= poll[0].poll_id %>" name="poll_id" id='poll_id'>
      <input type="hidden" value="" name="hidden_ip" id='hidden_ip'>
    </p>
    <p>
      <%= poll[0].description %>
    </p>
    <table>
      <tbody>
        <% for (let item of poll) {%>
          <td class='index'>
            <%= poll.indexOf(item) + 1 %>
          </td>
          <% } %>
      </tbody>
    </table>
    <div class="wrapper">

      <% for (let item of poll) {%>
        <div class="item div1">
          <input class="button" name='choice' readonly value="<%= item.option %>" placeholder="<%= item.option %>">
          <i class="fas fa-bars"></i>
        </div>
        <% } %>
    </div>

    <input type="submit" name="" id="">

    <script>
      const dragArea = document.querySelector(".wrapper");
      new Sortable(dragArea, {
        animation: 350
      });
    </script>
  </form>
</body>

</html>
